
.thumbnail{
	margin: 10px;
	width: 360px;
	height: 360px;
}

.nr{
	border: transparent;
	background: transparent;
}

.gl{
	text-align: center;
	font-size: 70px;
	color: white;
	font-family: 'Amatic SC', cursive;
	position: relative;
	top: 20px;	
}

.hwgallery{ 
	background: black;
	color: white;
	
	
	
}
hr.style18:before { 
	display: block; 
	content: ""; 
	height: 30px; 
	margin-top: -31px; 
	border-style: solid; 
	border-color: #8c8b8b; 
	border-width: 0 0 1px 0; 
	border-radius: 20px; 
  }
  hr.style18 { 
	height: 30px;
	width: 510px; 
	margin-left: 500px;
	border-style: solid; 
	border-color: #8c8b8b; 
	border-width: 1px 0 0 0; 
	border-radius: 20px; 
  } 
  .left{
	  margin-left: 180px;
  }
  